<form>
    <fieldset disabled>
      <legend>Disabled fieldset example</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">404 this page is not exiton that web pages</label>
        {% comment %} <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"> {% endcomment %}
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Disabled select menu</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Back to home</button>
    </fieldset>
  </form>