{% extends 'base.html' %}

{% block content %}

<section>

  <div>
    <div>
        <div class="wd-e">
            <div>
                 <h2>CALCULATOR</h2>
            </div>
            <div class="call">
                <table>
                    <tr>
                        <td class="task">
                            <input style="width: 294px; height: 39px;" class="show" id="showdata">
                        </td>
                        <td>
                            <input  class="btn btn-secondary" value="C" onclick="clear()" >
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                       <td><input  class="btn btn-secondary" onclick="display('1')" value="1" readonly></td>
                       <td><input  class="btn btn-secondary" onclick="display('2')" value="2" readonly></td>
                       <td><input  class="btn btn-secondary" onclick="display('3')" value="3" readonly></td>
                       <td><input  class="btn btn-secondary" onclick="display('/')" value="/" readonly></td>
                    </tr>
                    <tr>
                        <td><input  class="btn btn-secondary" onclick="display('4')" value="4" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('5')" value="5" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('6')" value="6" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('*')" value="*" readonly></td>
                    </tr>
                    <tr>
                        <td><input  class="btn btn-secondary" onclick="display('7')" value="7" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('8')" value="8" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('9')" value="9" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('-')" value="-" readonly></td>
                    </tr>
                    <tr>
                        <td><input  class="btn btn-secondary" onclick="display('0')" value="0" readonly></td>
                        <td><input  class="btn btn-secondary" onclick="display('.')" value="." readonly></td>
                        <td><input  class="btn btn-secondary" onclick="calculat()" value="=" readonly></td> 
                        <td><input  class="btn btn-secondary" onclick="display('+')" value="+" readonly></td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
  </div>

</section>


{% endblock content %}


